<div class="wrap">
        <h1>注册仓库基本信息</h1>
        <div class="divider mt"></div>
        <div class="center">
          <form>
            <!-- <div class="">
                <div *ngFor='let form of forms' nz-row class="mt">
                  <label for="name" class="label" nz-col [nzMd]="{ span: 2 }">{{form.name}}</label>
                  <input type="text" [(ngModel)]='form.bind' name='form.bind' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control" id="name" required placeholder="{{form.placeholder}}">
                </div>
              </div> -->
              <div nz-row class="mt">
                  <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">账户地址</label>
                  <input type="text" [(ngModel)]='registerBasicInfo.account' name='registerInfo.coName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                    id="name" required placeholder="请输入账户地址">
                </div>
      
                <div nz-row class="mt">
                    <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">账户密码</label>
                    <input type="text" [(ngModel)]='registerBasicInfo.password' name='registerInfo.coName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                      id="name" required placeholder="请输入账户密码">
                  </div>
            <div nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">库区名称</label>
              <input type="text" [(ngModel)]='registerBasicInfo._stockName' name='registerInfo.coName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                id="name" required placeholder="请输入库区名称">
            </div>
            <div  nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">库区编号</label>
              <input type="text" [(ngModel)]='registerBasicInfo._stockId' name='registerInfo.coAddress' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                id="name" required placeholder="请输入库区编号">
            </div>
            <div nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">仓房类型</label>
              <input type="text" [(ngModel)]='registerBasicInfo._stockType' name='registerInfo.corpName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                id="name" required placeholder="请输入仓房类型">
            </div>
            <div nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">仓库容量</label>
              <input type="text" [(ngModel)]='registerBasicInfo._inventory' name='registerInfo.corpId' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                id="name" required placeholder="请输入仓库容量">
            </div>
            <div nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">仓库号</label>
              <input type="text" [(ngModel)]='registerBasicInfo._stockNum' name='registerInfo.tel' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                id="name" required placeholder="仓库号">
            </div>
            <div  nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">厫间号</label>
              <input type="text" [(ngModel)]='registerBasicInfo._storeRoomNum' name='registerInfo.fax' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                id="name" required placeholder="厫间号">
            </div>
            <div  nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">货位号</label>
                <input type="text" [(ngModel)]='registerBasicInfo._posNum' name='registerInfo.fax' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                  id="name" required placeholder="货位号">
              </div>
              <div  nz-row class="mt">
                  <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">识别码</label>
                  <input type="text" [(ngModel)]='registerBasicInfo._qrCode' name='registerInfo.fax' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control"
                    id="name" required placeholder="识别码">
                </div>
            <button type="submit" class="btn btn-success mt" (click)='register()'>注册</button>
          </form>
        </div>
      
      </div>