<div class="wrap">
    <h1>入库信息</h1>
    <div class="divider mt"></div>
    <div class="center">
        <form>
            <!-- <div class="">
            <div *ngFor='let form of forms' nz-row class="mt">
              <label for="name" class="label" nz-col [nzMd]="{ span: 2 }">{{form.name}}</label>
              <input type="text" [(ngModel)]='form.bind' name='form.bind' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}" class="form-control" id="name" required placeholder="{{form.placeholder}}">
            </div>
          </div> -->
            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">账户地址</label>
                <input type="text" [(ngModel)]='store.account' name='registerInfo.coName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="请输入账户地址">
            </div>

            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">账户密码</label>
                <input type="text" [(ngModel)]='store.password' name='registerInfo.coName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="请输入账户密码">
            </div>
            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">来源对象</label>
                <input type="text" [(ngModel)]='store._seller' name='registerInfo.coName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="来源对象">
            </div>
            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">来源企业名称</label>
                <input type="text" [(ngModel)]='store._sellerName' name='registerInfo.coAddress' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="来源企业名称">
            </div>
            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">货位号</label>
                <input type="text" [(ngModel)]='store._stockName' name='registerInfo.corpName' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="货位号">
            </div>
            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">购买粮食数量</label>
                <input type="text" [(ngModel)]='store._quantity' name='registerInfo.corpId' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="销售粮食数量">
            </div>
            <div nz-row class="mt">
                <label for="name" class="label" nz-col [nzMd]="{ span: 3 }">识别码</label>
                <input type="text" [(ngModel)]='store._qrCode' name='registerInfo.corpId' class="input" nz-col [nzMd]="{ span: 16 ,offset:1}"
                    class="form-control" id="name" required placeholder="识别码">
            </div>
            <button type="submit" class="btn btn-success mt" (click)='stores()'>创建入库信息</button>
        </form>
    </div>

</div>